*.lo
*.o
.deps
.dirstamp
.libs
/*.bak
/*.gcda
/*.gcno
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.dirstamp
/.gitignore
/ABOUT-NLS
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/INSTALL
/Makefile
/Makefile.in
/TAGS
/XMZ-1.0.gir
/XMZ-1.0.typelib
/aclocal.m4
/autom4te.cache
/autoscan.log
/build-aux/ar-lib
/build-aux/compile
/build-aux/config.guess
/build-aux/config.rpath
/build-aux/config.sub
/build-aux/depcomp
/build-aux/install-sh
/build-aux/ltmain.sh
/build-aux/missing
/build-aux/mkinstalldirs
/build-aux/test-driver
/build-aux/ylwrap
/config.cache
/config.h
/config.h.in
/config.log
/config.lt
/config.rpath
/config.status
/config.status.lineno
/configure
/configure.lineno
/configure.scan
/data/com.gaswarnanlagen.xmz.gschema.valid
/data/com.gaswarnanlagen.xmz.gschema.xml
/data/com.gaswarnanlagen.xmz.gschema.xml.in
/data/xmz.desktop
/data/xmz.desktop.in
/intltool-extract
/intltool-extract.in
/intltool-merge
/intltool-merge.in
/intltool-update
/intltool-update.in
/libtool
/libxmz/libxmz-1.0.la
/libxmz/libxmz-1.0.pc
/libxmz/libxmz-1.0.vapi
/libxmz/libxmz.h
/libxmz/xmz-init.c
/libxmz/xmz-resource.c
/libxmz/xmz-resources.c
/libxmz_libxmz_1_0_la_vala.stamp
/m4/codeset.m4
/m4/gettext.m4
/m4/glibc2.m4
/m4/glibc21.m4
/m4/iconv.m4
/m4/intdiv0.m4
/m4/intl.m4
/m4/intldir.m4
/m4/intlmacosx.m4
/m4/intltool.m4
/m4/intmax.m4
/m4/inttypes-pri.m4
/m4/inttypes_h.m4
/m4/lcmessage.m4
/m4/lib-ld.m4
/m4/lib-link.m4
/m4/lib-prefix.m4
/m4/libtool.m4
/m4/lock.m4
/m4/longlong.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/m4/nls.m4
/m4/po.m4
/m4/printf-posix.m4
/m4/progtest.m4
/m4/size_max.m4
/m4/stdint_h.m4
/m4/uintmax_t.m4
/m4/visibility.m4
/m4/wchar_t.m4
/m4/wint_t.m4
/m4/xsize.m4
/omf.make
/po/*.gmo
/po/*.header
/po/*.mo
/po/*.sed
/po/*.sin
/po/.intltool-merge-cache
/po/Makefile
/po/Makefile.in
/po/Makefile.in.in
/po/Makefile.in.in~
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/boldquot.sed
/po/en@boldquot.header
/po/en@quot.header
/po/insert-header.sin
/po/missing
/po/quot.sed
/po/remove-potcdate.sin
/po/stamp-it
/po/xmz.pot
/so_locations
/stamp-h1
/tags
/test-suite.log
/tests/libxmz/main.c
/tests/libxmz/support-main.c
/tests/libxmz/support-main.vala
/tests/libxmz/support-test.c
/tests/libxmz/support-test.vala
/tests/libxmz/test-libxmz
/tests/libxmz/test-libxmz.log
/tests/libxmz/test-libxmz.test
/tests/libxmz/test-libxmz.trs
/tests/sensor-view
/tests/sensor-view.c
/tests/xmz/main.c
/tests/xmz/support-main.c
/tests/xmz/support-main.vala
/tests/xmz/support-test.c
/tests/xmz/support-test.vala
/tests/xmz/test-xmz
/tests/xmz/test-xmz.log
/tests/xmz/test-xmz.test
/tests/xmz/test-xmz.trs
/tests_libxmz_test_libxmz_vala.stamp
/tests_sensor_view_vala.stamp
/tests_xmz_test_xmz_vala.stamp
/xmldocs.make
/xmz/xmz
/xmz/xmz-application.c
/xmz/xmz-resources.c
/xmz/xmz-window.c
/xmz/xmz.c
/xmz_xmz_vala.stamp
_libs
