[Desktop Entry]
Version=1.0
Type=Application
Name=xMZ-Mod-Touch
Exec=xmz_mod_touch
Comment=xMZ-Mod-Touch xMesszentrale mit Modbus Interface und Touchscreen
Icon=xmz_mod_touch
Terminal=false
Categories=Utility;Viewer;GTK;

