* {  }
notebook#notebook tab { padding: 20px; }
notebook#notebook tab:last-child {
  color: #111111;
  background-color: #aa6868;
}

notebook#notebook tab:checked {
  color: #111111;
  background-color: #888888;
}

notebook#notebook tab:last-child:checked {
  color: #EEEEEE;
  background-color: #670c0c;
}
