
notebook#notebook_main tab { padding: 20px; }
/* notebook#notebook_main tab:first-child { background-color: #96b3c4; } */

#textview_ifconfig { font-size: 12px; color: blue; }

infobar.info {  }
infobar.error { 	background-color: #DA0000; }

.border-left-light  { border-left: 1px solid #666666;  }
.border-bottom  { border-bottom: 2px solid #666666;  }

#direktwert, #mittelwert  {
	font-size: 100px;
	font-weight: bold;
}

.bolder { font-weight: bolder }
